@model int

<td style="width:150px">
    <div class="btn-group" role="group">
        <a class="btn btn-primary" asp-action="Sua" asp-route-Id="@Model">
            <i class="fas fa-pen"></i>
        </a>     
        
    </div>
</td>