<button class="place-order" id="btnPlaceOrder" onclick="return validateInput()" value="Thanh toán">Thanh toán</button>
<div class="procced-checkout col-md-6">
    <a asp-action="Index" asp-controller="Cart" asp-area="Customer" class="checkout-link" style="background-color:black; border:none;">Quay lại</a>
</div>