@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
<div class="pb-150"></div>

<header>
    <h1 class="text-danger">Tài khoản của bạn đã bị khóa!</h1>
    <p class="text-danger">Tài khoản này đã bị khóa, vui lòng thử lại sau ít phút.</p>
    <div class="pb-50"></div>
</header>
