
@{
    ViewData["Title"] = "Liên hệ";

}

<!-- Home Slider
    ============================================ -->
<div class="slider-area-1 top-header-space-1  pb-50">
    <div id="mainSlider-1" class="nivoSlider slider-image">
        <a href="#"><img src="~/img/slider/7.jpg" alt="main slider" /></a>
        <a href="#"><img src="~/img/slider/8.jpg" alt="main slider" /></a>
        <a href="#"><img src="~/img/slider/9.jpg" alt="main slider" /></a>
    </div>
</div>

<div class="border bg-1 Padding10">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-info" style="font-family:.VnRevue; color:orange;">Thông tin liên hệ</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6" style="font-size:16px;">
            <p>Mọi thắc mắc hoặc cần tư vấn hãy liên hệ cho chúng tôi qua các cách sau:</p>
            <p>Số điện thoại: <strong style="color:red;">+84 0303252698</strong> (Từ 9:00 đến 21:00 thứ hai - thứ 7)</p>
            <p>Email: <strong style="color:red;">admin@gmail.com</strong></p>
            <p>Hoặc đến với shop tại địa chỉ: <strong style="color:red;">111 An Dương Vương, Q.5.</strong></p>
            <br />
            <img src="~/img/contact-info/map.PNG" />
        </div>
    </div>
</div>

