@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Home Slider
    ============================================ -->
<div class="slider-area-1 top-header-space-1  pb-50">
    <div id="mainSlider-1" class="nivoSlider slider-image">
        <a href="#"><img src="~/img/slider/7.jpg" alt="main slider" /></a>
        <a href="#"><img src="~/img/slider/8.jpg" alt="main slider" /></a>
        <a href="#"><img src="~/img/slider/9.jpg" alt="main slider" /></a>
    </div>
</div>

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>
