
@{
    ViewData["Title"] = "Liên hệ";

}

<!-- Home Slider
    ============================================ -->
<div class="slider-area-1 top-header-space-1  pb-50">
    <div id="mainSlider-1" class="nivoSlider slider-image">
        <a href="#"><img src="~/img/slider/7.jpg" alt="main slider" /></a>
        <a href="#"><img src="~/img/slider/8.jpg" alt="main slider" /></a>
        <a href="#"><img src="~/img/slider/9.jpg" alt="main slider" /></a>
    </div>
</div>

<div class="border bg-1 Padding10">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-info" style="font-family:.VnRevue; color:orange;">Cách thức mua hàng</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12" style="font-size:16px;">
            <p>Quý khách có thể đến shop để lựa chọn và mua hàng tại: <strong style="color:red;">111 An Dương Vương, Q.5.</strong></p>
            <p>Giờ mở cửa: <strong style="color:red;">9:00 - 21:00 Thứ 2 đến Chủ nhật. (Trừ các dịp lễ, Tết)</strong></p>
            <p><strong>Đối với mua hàng online:</strong></p>
            <p>- Các bạn đặt hàng thông qua trang web này bằng cách đăng ký tài khoản, sau đó xem và thêm sản phẩm mình muốn mua vào giỏ hàng.</p>
            <p>- Sau đó vào phần Giỏ hàng, ấn vào đặt hàng nếu bạn chọn hình thức ship COD, Thanh toán nếu bạn chọn hình thức thanh toán bằng thẻ VISA hoặc thẻ ngân hàng.</p>
            <p>- Nhập đầy đủ thông tin cá nhân cần thiết, chọn ngày giao hàng và đặt hàng, sau đó chờ nhân viên của shop xác nhận đơn hàng và giao đến tay bạn.</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-info" style="font-family:.VnRevue; color:orange;">Hỏi & Đáp</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12" style="font-size:16px;">
            <p><strong>Câu 1: Thời gian hoạt động của shop?</strong></p>
            <p>Shop hoạt động từ 9:00 - 21:00 tất cả các ngày trong tuần. Thời gian sẽ được điều chỉnh vào những dịp lễ. Xin lỗi quý khách nếu gặp phải sự bất tiện này.</p>
            <p><strong>Câu 2: Shop kinh doanh các loại mặt hàng nào?</strong></p>
            <p>Shop hiện nay kinh doanh chuyên về dụng cụ mỹ thuật, cũng như những vật dụng liên quan đến mỹ thuật.</p>
            <br />
            
        </div>
    </div>
</div>

